.tabGroup {
    margin-left: calc(var(--px-4)*-1);
    display: flex;
    margin-top: var(--px-8);
}

.tabGroup > .tabButton {
    padding: var(--px-4) var(--px-8);
    margin-right: var(--px-4);
}

.tabGroup > .tabActive {
    background-color: hsla(var(--color-neutral),var(--alpha-background-heavy));
    color: hsla(var(--color-neutral),1);
}