.servicesContainer {
  display: flex;
  min-width: 200px;
  flex-direction: column;
}

.servicesList {
  overflow: auto;
  height: 82vh
}

.container {
  padding-top: 0.5rem;
}

.serviceTitle {
  font-size: 1.05rem;
}

.sectionsList {
  padding-left: 1rem;
  color: hsla(var(--color-neutral), var(--alpha-secondary));
}

.attributeList {
  padding-left: 1rem;
}